@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media all and (max-width: 768px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  #logo_1 {
    padding: 10px;
    border-bottom: ;
  }
  #logo_1 img {
    width: 50%;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  div#reservez {
    padding-top: 20px;
    padding-bottom: 40px;
    border: 2px solid rgb(246, 246, 246);
    background-color: rgb(246, 246, 246);
  }
  #localisation {
    outline: none;
    padding: 20px;
    background-color: rgb(234, 234, 234);
    text-align: center;
  }
  #ville {
    outline: none;
    border: none;
    -webkit-appearance: none;
    background-color: rgb(234, 234, 234);
  }
  div#reservez h1 {
    font-size: 20px;
    text-align: center;
  }
  div#reservez p {
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
  }
  #explorez {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    background-color: #9356dc;
    border-radius: 25px;
    padding: 10px;
  }
  #explorez a {
    text-decoration: none;

    color: white;
  }
  div#etapes {
    display: flex;
    flex-direction: column;
  }

  #etapes ol {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #etapes li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid 2px black;
    border-radius: 25px;
  }
}
